<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huade.mapper.SpecialtyInfoMapper">

    <insert id="addSpecialtyInfo" parameterType="Specialty">
        insert into online_exam.specialty(Id, spe_Name, col_Id) VALUES
        (#{Id},#{spe_Name},#{col_Id})
    </insert>

    <delete id="deleteSpecialtyInfo" parameterType="String">
        delete from online_exam.specialty where Id=#{Id}
    </delete>

    <update id="updateSpecialtyInfo" parameterType="Specialty">
        update online_exam.specialty
        set spe_Name =#{spe_Name},col_Id=#{col_Id}
        where Id=#{Id}
    </update>

    <select id="selectAllSpecialty" resultType="Specialty">
        select * from online_exam.specialty
    </select>

    <select id="selectSpecialty_col_Id" resultType="Specialty">
        select * from online_exam.specialty where col_Id =#{col_Id}
    </select>

    <select id="selectSpe_Id" resultType="String">
        select Id from online_exam.specialty where spe_Name =#{spe_Name}
    </select>

</mapper>